<form class="todo-app--tasks-sidebar-form text-left padding-base">
    <i>Summary:</i><br>
    <textarea type="text"
              cols="50"
              rows="10"
              name="summary"
              value="{{item.summary}}"
              (change)="onChange('summary', $event.target.value)"
              class="form-control padding-vertical-base">
    </textarea><br><br>

    <i>Description:</i><br>
    <textarea type="text"
              cols="50"
              rows="10"
              name="description"
              value="{{item.description}}"
              (change)="onChange('description', $event.target.value)"
              class="form-control padding-vertical-base">
    </textarea><br><br>

    <button class="todo-app--tasks-preview-edit button-secondary" (click)="saveForm()">{{action}}</button>
    <button class="todo-app--tasks-preview-remove button-primary" (click)="cancelForm()">Cancel</button>
</form>