<ssw-header (add)="showSidebarForm('create')"></ssw-header>
<main>
    <section class="todo-app--tasks flex-container flex-space-between padding-vertical-base">
        <ssw-tasks-container class="flex-1"
                             [tasks]="tasks"
                             [previewItem]="itemToPreview"
                             (move)="moveTask($event)"
                             (preview)="previewTask($event)">
        </ssw-tasks-container>
        <ssw-sidebar class="todo-app--tasks-sidebar"
                     *ngIf="tasks.length > 0"
                     [extended]="sidebarExtended"
                     [preview]="showPreviewForItem"
                     [action]="formAction"
                     [formItem]="formTask"
                     [previewItem]="itemToPreview"
                     (remove)="removeTask($event)"
                     (save)="submitForm($event)"
                     (cancel)="cancelForm()"
                     (edit)="showSidebarForm('update')">
        </ssw-sidebar>
    </section>
</main>
