<div class="todo-app--tasks-list-item padding-base margin-vertical-small pointer flex-container"
     [ngClass]="{'active': active}">
    <div class="todo-app--tasks-list-item-text"
         (click)="showPreview(task)"
         title="{{task.description}}">
        <span class="todo-app--tasks-list-item-label"
              [ngClass]="{finished: task.status === 'done'}">
            {{taskLabel + '-' + task.id}}
        </span>
        <span class="todo-app--tasks-list-item-summary"
              [ngClass]="{finished: task.status === 'done'}">
            {{task.summary}}
        </span>
    </div>
    <div class="todo-app--tasks-list-item-panel flex-container flex-display-columns">
        <div class="todo-app--tasks-list-item-panel--move flex-1"
             *ngFor="let remainingStatus of getRemainingStatuses(task.status); let isLast = last"
             [ngClass]="{'bordered-column-top': isLast}"
             (click)="moveTask({task: task, status: remainingStatus})">
            {{remainingStatus}}
        </div>
    </div>
</div>
