<div class="text-left padding-horizontal-base">
    <b>Summary:</b> <br> {{item.summary}} <br><br>
    <b>Description:</b> <br> {{item.description}} <br> <br>
    <b>Status:</b> <br> {{item.status}} <br> <br>
    <b>Created:</b> <br> {{getDateFromTimestamp(item.date, true)}} <br> <br>
    <hr>
    <button class="todo-app--tasks-preview-edit button-secondary"
            (click)="editTask()">
        Edit
    </button>
    <button class="todo-app--tasks-preview-remove button-primary"
            (click)="removeTask(item)">
        Remove
    </button>
</div>