<div class="todo-app--tasks-list flex-container flex-1 flex-space-between">
    <div class="todo-app--tasks-list-{{status}} flex-1 text-center padding-horizontal-base bordered-column-left"
         *ngFor="let status of statuses">
        <h3>{{status.toUpperCase()}}({{getTasksByStatus(status).length}})</h3>
        <ssw-task *ngFor="let task of getTasksByStatus(status)"
                  [task]="task"
                  [active]="task == previewItem"
                  (preview)="showPreview(task)"
                  (move)="moveTask($event.task)">
        </ssw-task>
    </div>
</div>
