<aside class="text-center bordered-column-left"
       [ngClass]="{extended: sidebarExtended}">
    <div *ngIf="extended">
        <ssw-form [item]="formItem"
                  [action]="action"
                  (save)="saveForm($event)"
                  (cancel)="cancelForm()">
        </ssw-form>
    </div>
    <div *ngIf="!preview && !extended">
        Click on any task to preview
    </div>
    <ssw-preview *ngIf="preview"
                 [item]="previewItem"
                 (edit)="editTask($event)"
                 (remove)="removeTask($event)">
    </ssw-preview>
</aside>
